/* Big tablet to 1200px (width smaller than 1140 row) */
@media only screen and (max-width: 1200px){
    
    .main-box{
        width: 100%;
        padding: 0 2%;
    }
    
    .row{ padding: 0 2%; } 
    
    .navigation-container { padding-top: 20px; }

}
    
    
/* Small tablet to big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px){
    
    body{ font-size: 18px; }
    section{ padding: 60px 0; }
    .nav-bar li{ 
        font-size: 90%;
        margin-left: 10px;
    }
    .contacts-bar { font-size: 90%; }

    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    
    .about-boxes div { 
        height: 350px;
        margin-right: 5px;
    }
    
    .logo-box .logo{ width: 200%; }
    
    .text-box p { font-size: 80%; }
    
    .picture-gallery{ padding: 10px; }
    
    footer .logo-container{ margin-top: 10px; }

}

/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px){
    
    body{ font-size: 16px; }
    section{ padding: 30px 0; }
    .row, .main-box{ padding: 0 4%; }
    .col { 
        margin: 0 0 4% 0%;
        width: 100% 
    }
    
    .navigation-container { 
        padding: 10px 30px;
        align-items: center;
    }
    
    .logo-container{ width: 160px; }
    .nav-bar{ display:none; }
    .contacts-bar{ display: none; }

    .mobile-nav-icon{ display: inline-block; }
    .mobile-nav-bar{ display: none; }
    
    .sticky .nav-bar{ margin-top: 10px; }

    .sticky .nav-bar li a:link,
    .sticky .nav-bar li a:visited{ padding: 10px 0; }
    .sticky .mobile-nav-icon i { color: #5a5a5a; }
    .sticky #btn-book-mobile{ 
        margin-top: 0px;
        font-size: 80%;
        color: #5a5a5a;
        border: solid 1px #5a5a5a;
    }
    
    .long-copy{
        width: 100%;
        padding: 0 8px;
        margin-left: 0;
    }
    
    h1{ font-size: 180% }
    h2{ font-size: 150% }
    h4{ margin-top: 50px; }
    
    blockquote{ margin-top: 0;}
    
    .service-buttons{ margin-top: 50px; }
    .picture-gallery{ display: none; }
    
    footer{ font-size: 100%; }
    .addres, .contact{ margin-top: 0; }
    footer .logo-container { 
        margin-left: 35px;
        margin-bottom: -20px;
    }
    
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px){
    
    section{ padding: 25px 0; }
    .long-copy{ padding: 0 4px; }
    .image-box{ display: none; }
    .logo-box{ display: none; }
    .text-box{ width: 85%; }
    .mobile-nav-bar{ margin-right: 30px; }
    .btn-ghost{ margin-top: 20px; }
}